<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Required config section -->
  <configSections>
    <section name="rewriter" requirePermission="false"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <!-- Example AppSetting -->
  <appSettings>
    <add key="AppSettingKey" value="AppSettingValue"/>
  </appSettings>

  <rewriter>
    <!-- Rewrite_WithRewrittenUrl_SetsLocation -->
    <rewrite url="^/Test1/(.+)" to="/NewLocation/$1" />
    
    <!-- Rewrite_WithPermanentlyRedirectedUrl_RedirectsWithMoved -->
    <redirect url="^/Test2/(.+)$" to="/NewLocation/$1" permanent="true" />
    
    <!-- Rewrite_WithTemporarilyRedirectedUrl_RedirectsWithFound -->
    <redirect url="^/Test3/(.+)$" to="/NewLocation/$1" permanent="false" />

    <!-- TODO: Up to here... -->
    <set property="Property1" value="PropertyValue" />
    <set-appsetting property="Property2" key="AppSettingKey" />
    
  </rewriter>
</configuration>
