<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Required config section -->
  <configSections>
    <section name="rewriter" requirePermission="false"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <!-- Example AppSetting -->
  <appSettings>
    <add key="AppSettingKey" value="AppSettingValue"/>
  </appSettings>

  <rewriter>
    <!-- Rewrite_WithRewrittenUrl_SetsLocation -->
    <rewrite url="^/Test1/(.+)$" to="/NewLocation/$1" />
    
    <!-- Rewrite_WithPermanentlyRedirectedUrl_RedirectsWithMoved -->
    <redirect url="^/Test2/(.+)$" to="/NewLocation/$1" permanent="true" />
    
    <!-- Rewrite_WithTemporarilyRedirectedUrl_RedirectsWithFound -->
    <redirect url="^/Test3/(.+)$" to="/NewLocation/$1" permanent="false" />

    <!-- Rewrite_WithSetProperty_SubstitutesPropertyValue  -->
    <set property="Property1" value="PropertyValue" />
    <rewrite url="^/Test4/(.+)$" to="/NewLocation/$1?Property1=${Property1}" />

    <!-- Rewrite_WithSetAppSettingProperty_SubstitutesPropertyValue  -->
    <set-appsetting property="Property2" key="AppSettingKey" />
    <rewrite url="^/Test5/(.+)$" to="/NewLocation/$1?Property2=${Property2}" />
    
    <!-- Rewrite_WithRewrittenUrlAndContinue_AppliesNextRule -->
    <rewrite url="^/Test6/(.+)$" to="/NewLocation1/$1" processing="continue" />
    <rewrite url="^/NewLocation1/(.+)" to="/NewLocation2/$1" processing="stop" />

    <!-- Rewrite_WithRewrittenUrlAndRestart_AppliesFirstRule -->
    <rewrite url="^/Test7/(.+)$" to="/Test1/$1" processing="restart" />

    <!-- Rewrite_WithSetCookie_SetsOutputCookie -->
    <if url="^/Test8/(.+)$">
      <set cookie="Cookie1" value="CookieValue" />
    </if>
    
    <!-- Rewrite_WithAddressMatchAndSetStatus_SetsStatus -->
    <if url="^/Test9/(.+)$" address="127.0.0.1">
      <set status="201" />
    </if>

    <!-- Rewrite_WithHeaderMatchAndSetStatus_SetsStatus -->
    <if url="^/Test10/(.+)$" header="User-Agent" match="MSIE">
      <set status="202" />
    </if>

    <!-- Rewrite_WithMethodMatchAndSetStatus_SetsStatus -->
    <if url="^/Test11/(.+)$" method="POST">
      <set status="204" />
    </if>

    <!-- Rewrite_WithPropertyMatchAndSetStatus_SetsStatus -->
    <set property="Property3" value="PropertyValue" />
    <if url="^/Test12/(.+)$" property="Property3" match="^PropertyValue$">
      <set status="205" />
    </if>

    <!-- Rewrite_WithExistsAndAndSetStatus_SetsStatus -->
    <if url="^/Test13/(.+)$" exists="README.txt">
      <set status="206" />
    </if>

    <!-- Rewrite_WithForbidden_Throws -->
    <if url="^/Test14/(.+)$">
      <forbidden />
    </if>
    
    <!-- Rewrite_WithGone_Throws -->
    <if url="^/Test15/(.+)$">
      <gone />
    </if>

    <!-- Rewrite_WithNotFound_Throws -->
    <if url="^/Test16/(.+)$">
      <not-found />
    </if>
    
    <!-- Rewrite_WithNotImplemented_Throws -->
    <if url="^/Test17/(.+)$">
      <not-implemented />
    </if>

    <!-- Rewrite_WithAddHeader_AddsResponseHeader-->
    <if url="^/Test18/(.+)$">
      <add header="Header1" value="HeaderValue" />
    </if>

    <!-- Rewrite_WithAddCookie_AddsCookie -->
    <if url="^/Test19/(.+)$">
      <set cookie="CookieName" value="CookieValue" />
    </if>
  </rewriter>
</configuration>
